<script type="text/x-template"  id="userform">
    
    <h2>{{title}}</h2>
    <label for="username">Name:</label> <input id="username" v-model="user.name">
    <label for="useremail">Email:</label> <input id="useremail" v-model="user.email">
    <button v-on:click="save">Submit</button>
</script>