
<%= render 'users' %>

<div id='userapp'>
    
    <router-view></router-view>
    
    <br>
    <p>
        <a v-link="{ path: '/users' }">Usuarios</a>
        <a v-link="{ path: '/users/add' }">Nuevo usuario</a>
    </p>
</div>




